* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.parent {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.parent .cards {
  min-width: 200px; /* prevents shrinking */
  height: 300px;
  border: 1px solid rgb(175, 11, 11);
  border-radius: 10px;
}

.parent .cards img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.parent .cards h2 {
  padding: 20px;
}
